/* FUENTES */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.row, .container, .container-fluid {
  margin: 0px;
  padding: 0px;
}

body {
  margin-top: 95px;
  width: 100%;
  background-color: #B8BCBF;
}
@media (max-width: 650px) {
  body {
    margin-top: 120px;
  }
}

.botonTkd {
  width: 100px;
  height: 40px;
  color: #F2527D;
  background-color: #2D3740;
  border-style: none;
  border-radius: 5px;
  font-size: 16px;
  font-style: bold;
}

.imagen_back, .mainContacto, .bodyDanes, .bodyFormas, .bodyEscuela, .mainInicio {
  background-color: #B8BCBF;
  background-repeat: no-repeat;
  background-size: cover;
}

.sombraRoja {
  box-shadow: 10px 10px 5px #F2527D;
}

h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2D3740;
  font-weight: bold;
  font-size: 40px;
  color: #F2527D;
  height: auto;
}
@media (max-width: 850px) {
  h1 {
    font-size: 25px;
  }
}
@media (max-width: 736px) {
  h1 {
    font-size: 20px;
  }
}
@media (max-width: 425px) {
  h1 {
    font-size: 18px;
  }
}

.navegador {
  background-color: #2D3740;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
}

.img_nav {
  height: 90px;
  position: static;
  padding: 2px;
  border-radius: 10px;
}
@media (max-width: 650px) {
  .img_nav {
    height: 70px;
  }
}
@media (max-width: 375px) {
  .img_nav {
    height: 50px;
  }
}

nav ul {
  padding: 0px;
  margin: 0px;
}
nav ul li {
  margin: 5px;
  display: inline-block;
  position: relative;
}
nav ul li a {
  background-color: #2D3740;
  display: block;
  color: #F2527D;
  list-style-type: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
}
@media (max-width: 425px) {
  nav ul li a {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  nav ul li a {
    font-size: 10px;
  }
}

.footerEtiqueta {
  grid-area: footerEtiqueta;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  background-color: #2D3740;
  color: #F2527D;
  font-style: italic;
  text-align: center;
  padding: 0px;
  font-size: 18px;
  height: 80px;
}
.footerEtiqueta i {
  color: #F2527D;
  text-decoration: none;
  font-size: 24px;
  padding: 5px;
}
@media (max-width: 462px) {
  .footerEtiqueta {
    flex-direction: column;
    gap: 5px;
    font-size: 12px;
    height: 140px;
  }
}
.footerEtiqueta h3 {
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
}
@media (max-width: 462px) {
  .footerEtiqueta h3 {
    font-size: 10px;
  }
}

.whatsapp {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  font-size: 40px;
  background-color: green;
  display: block;
  position: fixed;
  cursor: pointer;
  bottom: 20px;
  right: 20px;
}
.whatsapp:hover {
  font-weight: bold;
  font-size: 46px;
  transition: 1s;
}
.whatsapp a {
  color: white;
  text-decoration: none;
}

.mainInicio {
  margin: 5px;
  font-size: 14px;
}
.mainInicio img {
  width: 300px;
  align-content: center;
}
@media (max-width: 425px) {
  .mainInicio img {
    width: 200px;
  }
}
.mainInicio p {
  text-align: justify;
  font-size: medium;
}
@media (max-width: 425px) {
  .mainInicio p {
    font-size: small;
  }
}

.h2Escuela {
  text-align: center;
  padding: 10px;
  font-size: 32px;
}

.textoEscuela {
  border-radius: 10px;
  background-color: #2D3740;
  color: #F2527D;
  margin: 10px;
  padding: 10px;
}

.imagenesEscuela {
  border-style: none;
  text-align: center;
  margin: auto;
}
.imagenesEscuela img {
  border-radius: 5px;
  width: 300px;
}
@media (max-width: 425px) {
  .imagenesEscuela img {
    width: 150px;
  }
}

.bodyFormas {
  background-image: url(../../assets/img/buddha-garden.jpg);
}

.titularFormas {
  width: 100%;
  padding: 5px;
  color: #F2527D;
  font-style: bold;
}

.bodyDanes {
  background-image: url(../../assets/img/wall-black-belt.jpg);
}
.bodyDanes h2, .bodyDanes .h2Formas, .bodyDanes table {
  background-color: #B8BCBF;
  opacity: 95%;
  border-radius: 10px;
}

.h2Formas {
  padding: 0px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

table {
  border: solid 1px;
  font-size: 14px;
  border-radius: 10px;
}

.tablaGrados, .tablaGrados th, .tablaGrados td {
  margin: auto;
  border: solid 1px;
  text-align: center;
}

.tablaGrados th, .tablaGrados td {
  padding: 5px;
}

@media (max-width: 500px) {
  .h2Formas {
    font-size: 22px;
  }
  .cituronDanes {
    width: 70%;
  }
}
.galerias {
  background-color: #B8BCBF;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px;
}

.galeria {
  width: 450px;
  height: 300px;
  position: relative;
  margin: 20px;
  overflow: hidden;
  border-radius: 10px;
}
.galeria h4 {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px;
  font-size: 14px;
  text-align: right;
  color: #F2527D;
  background-color: rgba(0, 0, 0, 0.507);
}
.galeria img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 1.5s;
}
.galeria img:hover {
  transform: scale(120%);
}

.mainContacto {
  background-image: url(../../assets/img/smartphone-wall-transparente.jpg);
  background-size: cover;
}

.divPadreformContacto {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.3505777311) 0%, rgba(255, 0, 0, 0.8) 56%, rgba(255, 255, 255, 0.3) 90%, rgba(0, 0, 0, 0.3505777311) 100%);
  width: 450px;
  padding: 10px;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 10px;
}
.divPadreformContacto legend {
  color: #2D3740;
}

.formContacto {
  margin: 5px;
  padding: 5px;
  font-size: 14px;
}
.formContacto div {
  margin: 0px;
  padding: 4px;
  background-color: rgba(64, 39, 33, 0);
}
.formContacto div i {
  color: #2D3740;
}

.completarFormContacto {
  width: 90%;
  border: none;
  background-color: #B8BCBF;
}

.fieldsetContacto {
  width: auto;
  padding: 10px;
  margin: 5px;
  border: none;
  background-color: rgba(64, 39, 33, 0);
}

.locContacto {
  margin: 5px;
}

.mapaUbi {
  width: 100%;
  height: 120%;
}

@media (min-width: 320px) {
  .textoMapaContacto {
    font-size: 13px;
  }
}

.fondoGracias {
  background-color: colorBackground !important;
}/*# sourceMappingURL=style.css.map */