.mainContacto{
    background-image: url(../../assets/img/smartphone-wall-transparente.jpg);
    background-size: cover;
    @extend .imagen_back;
}

.divPadreformContacto{
    background: $colorGradFondo;
    width: 450px;
    padding: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 10px;
    legend{
        color: $colorFrontal;
    }
}

.formContacto {
    margin: 5px;
    padding: 5px;
    font-size: 14px;
    div{
        margin: 0px;
        padding: 4px;
        background-color: $colorTransparente;
        i{
            color: $colorFrontal;
        }
    }
}

.completarFormContacto{
    width: 90%;
    border: none;
    background-color: $colorBackground;
}

.fieldsetContacto {
    width: auto;
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: $colorTransparente;
}


.locContacto {
    margin: 5px;
}

.mapaUbi{
    width: 100%;
    height: 120%;
}

.textoMapaContacto {
    @media(min-width:320px){
        font-size: 13px;
    }
}
