.bodyDanes{
    @extend .imagen_back;
    background-image: url(../../assets/img/wall-black-belt.jpg);

    h2,.h2Formas,table{
        background-color: $colorBackground;
        opacity: 95%;
        border-radius: 10px;
    }

}

.h2Formas{
    padding: 0px 10px;
    width: fit-content;
}

table {
    border: solid 1px;
    font-size: 14px;
    border-radius: 10px;
}

.tablaGrados {
    margin: auto;
    border: solid 1px;
    text-align: center;
}

.tablaGrados th , .tablaGrados td{
    @extend .tablaGrados;
    padding: 5px;
}




@media(max-width:500px){
    .h2Formas{
        font-size: 22px;
    }

    .cituronDanes{
        width: 70%;
    }
}
