h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $colorFrontal;
    font-weight: bold;
    font-size: 40px;
    color: $colorFuenteFrontal;
    height: auto;

    @media(max-width:850px){
        font-size: 25px;
    }
    @media(max-width:736px){
        font-size: 20px;
    }
    @media(max-width:425px){
        font-size: 18px;
    }
}