
.mainInicio {
    margin: 5px;
    font-size: 14px;
    @extend .imagen_back;

    img {
        width: 300px;
        align-content: center;
        @media (max-width:425px) {
            width: 200px;
        }

    }
    p {
        text-align: justify;
        font-size: medium;
        @media (max-width:425px) {
            font-size: small;
        }

    }
}