$colorFrontal: #2D3740;
$colorFuenteFrontal: #F2527D;



$colorBackground: #B8BCBF;

$colorGradFondo: linear-gradient(45deg, rgba(0,0,0,0.35057773109243695) 0%, rgba(255,0,0,0.8) 56%, rgba(255,255,255,0.3) 90%, rgba(0,0,0,0.35057773109243695) 100%);

$colorTransparente: #40272100;

@mixin tkd_btn ($ancho, $alto, $colorTexto, $colorFondo) {
    width: $ancho;
    height: $alto;
    color: $colorTexto;
    background-color: $colorFondo;
    border-style: none;
    border-radius: 5px;
    font-size: 16px;
    font-style: bold;
}

