$colorFrontal: #2D3740;
$colorFuenteFrontal: #F2527D;



$colorBackground: #B8BCBF;


// $colorGradFondo: linear-gradient(35deg, rgba(64,39,33,1) 4%, rgba(242,242,242,1) 72%, rgba(255,255,255,1) 100%);
$colorGradFondo: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(251,247,115,1) 7%, rgba(255,255,255,1) 12%, rgba(140,214,58,1) 30%, rgba(240,240,240,1) 33%, rgba(117,138,230,1) 49%, rgba(255,255,255,1) 52%, rgba(240,82,82,1) 72%, rgba(255,255,255,1) 76%, rgba(0,0,0,1) 100%);

$colorTransparente: #40272100;

@mixin tkd_btn ($ancho, $alto, $colorTexto, $colorFondo) {
    width: $ancho;
    height: $alto;
    color: $colorTexto;
    background-color: $colorFondo;
    border-style: none;
    border-radius: 5px;
    font-size: 16px;
    font-style: bold;
}

