$colorFrontal: #402721;

$colorFuenteFrontal: white;



$colorBackground: #bdb76b;


$colorGradFondo: linear-gradient(35deg, rgba(64,39,33,1) 4%, rgba(242,242,242,1) 72%, rgba(255,255,255,1) 100%);

$colorTransparente: #40272100;

@mixin tkd_btn ($ancho, $alto, $colorTexto, $colorFondo) {
    width: $ancho;
    height: $alto;
    color: $colorTexto;
    background-color: $colorFondo;
    border-style: none;
    border-radius: 5px;
    font-size: 16px;
    font-style: bold;
}