/* FUENTES */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "variables";

@import "blanqueo";

@import "clasesGenericas";

@import "header";
@import "navegador";
@import "footer";
@import "inicio";
@import "escuela";
@import "formas";
@import "danes";
@import "galeria";
@import "contacto";


.whatsapp{
    font-size: 36px;
    color: green;
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    &:hover{
        padding: 5px;
        border: 2px solid;
        border-radius: 5px;
        font-size: 40px;
        transition: 1s;
    }
}

